[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
opencv-python = "*"
tensorflow = "*"
keras = "*"

[dev-packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
jupyter = "*"

[requires]
python_version = "3.11"
